body {
  background-color: #c9b79c;
  margin: 0;
}

/* f1e0c5 */
/* 342a21 */
/* 71816d */
/* c9b79c */

nav {
  padding-left: 20px;
  text-transform: uppercase;
}

nav a {
  color: #71816d;
  text-decoration: none;
  margin-right: 20px;
}


main {
  color: #342a21;
  width: 80%;
  margin: auto;

}

img {
  width: 100%;
}

main p {
  text-align: left;
}

.contact {
  list-style-type: none;
  text-transform: capitalize;
}

.social {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 50px;
  color: white;
  margin-bottom: 10px;
}

.social a {
  text-decoration: none;
  color: white;
}

#facebook {
  background-color: #3b5998;
}

#twitter {
  background-color: #1da1f2;
}

#instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

balise {}

#id {}

.class {}
