@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');

body {
  margin: 0;
  font-family: 'Noto Sans JP',
    sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

header {
  background-image: url(/images/annecy.jpg);
  height: 580px;
  background-size: cover;
  padding-top: 200px;
}

header h1 {
  color: #e74c3c;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 80px;
  font-weight: bolder;
}

header p {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 0;
  font-weight: lighter;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.place {
  /* flex: grandir reduire taille; */
  flex: 0 1 300px;
  padding: 10px;
  position: relative;
  height: 150px;
  color: aliceblue;
  margin: 15px 5px;
  border-radius: 5px;
  background-size: cover;
}

.place-rating {
  position: absolute;
  top: 0;
  right: 10px;
  color: #f1c40f;
}

.place h3 {
  margin: 0
}

.place-description {
  position: absolute;
  bottom: 0;
  left: 10px;
}


.place-link {
  background-color: #e74c3c;
  padding: 5px 12px;
  color: white;
  border-radius: 5px;

  position: absolute;
  bottom: -10px;
  right: 10px;
}

#egotrip {
  background-image: linear-gradient(rgba(65, 151, 221, 0.34), rgba(0, 0, 0, 0.5)),
    url(/voyage/egotrip/egotrip.jpg);
}

#moon {
  background-image: linear-gradient(rgba(226, 229, 223, 0.4), rgba(0, 0, 0, 0.5)),
    url(/voyage/moon/moon.webp);

}

footer {
  height: 300px;
  padding-top: 30px;
  background-color: #e74c3c;
  /* sur le parent */
  display: flex;
}

footer ul {
  /* sur l'enfant */
  /* flex: grandir reduire taille; */
  flex: 0 1 25%
}

footer li {
  list-style-type: none;
}

/* #places {
  background-color: teal;
}

#country {
  background-color: rebeccapurple;
}

#villes {
  background-color: greenyellow;
}

#continent {
  background-color: teal;
} */
